Badly formatted syslog messages

Tasmota supports sending its log via the syslog protocol (RFC 3164) to the collector. So far so good, thumbs up. 

However, the messages sent are incorrect, they do not contain the TIMESTAMP field in the HEADER section as described in [RFC 3164 section 4.1.2](https://datatracker.ietf.org/doc/html/rfc3164#section-4.1.2).

RFC states:
> In essence, it is RECOMMENDED to transmit a syslog message in the format specified in this document, but it is not required. 
>
> The HEADER contains two fields called the TIMESTAMP and the HOSTNAME. The TIMESTAMP will immediately follow the trailing ">" from the PRI part and single space characters MUST follow each of the TIMESTAMP and HOSTNAME fields.  
>
> The TIMESTAMP field is the local time and is in the format of "Mmm dd hh:mm:ss" (without the quote marks) where…

Message received from Tasmota:
```
<134>tasmota-38BFC4-8132-eth ESP-EQ3: poll cycle starting
```

Should be:
```
<134>Jun  3 01:59:24 tasmota-38BFC4-8132-eth ESP-EQ3: poll cycle starting
```

Thank you for considering the correction.

In addition to @sfromis the Tasmota logging buffer is small and adding a timestamp to every entry reduces the amount of log lines.

A timestamp provided by linux syslog seems to be good enough by me:
```
2025-06-04T10:06:56.506960+02:00 4ch1 ESP-MQT: tele/4ch1/STATE = {"Time":"2025-06-04T10:06:56","Uptime":"35T23:30:54","UptimeSec":3108654,"Heap":23,"SleepMode":"Dynamic","Sleep":50,"LoadAvg":19,"MqttCount":3,"POWER1":"ON","POWER2":"OFF","POWER3":"OFF","POWER4":"OFF","Wifi":{"AP":1,"SSId":"indebuurt_IoT","BSSId":"18:E8:29:CA:17:C1","Channel":11,"Mode":"11n","RSSI":98,"Signal":-51,"LinkCount":2,"Downtime":"0T00:19:30"}}
2025-06-04T10:07:19.478906+02:00 heatfan2 ESP-MQT: tele/heatfan2/STATE = {"Time":"2025-06-04T10:07:19","Uptime":"1T03:13:23","UptimeSec":98003,"Heap":56,"SleepMode":"Dynamic","Sleep":50,"LoadAvg":19,"MqttCount":1,"Berry":{"HeapUsed":13,"Objects":168},"POWER1":"OFF","POWER2":"OFF","POWER3":"OFF","POWER4":"OFF","POWER5":"OFF","POWER6":"OFF","PWM":{"PWM1":309},"Wifi":{"AP":1,"SSId":"indebuurt_IoT","BSSId":"74:83:C2:2A:F1:AC","Channel":1,"Mode":"HT40","RSSI":56,"Signal":-72,"LinkCount":1,"Downtime":"0T00:00:04"}}
2025-06-04T10:07:19.480400+02:00 heatfan2 ESP-MQT: tele/heatfan2/SENSOR = {"Time":"2025-06-04T10:07:19","ANALOG":{"Range1":19.94,"Temperature2":21.78,"Temperature3":8.83},"ESP32":{"Temperature":18.00},"HeatFan":{"Mode":0,"Speed":0,"Temperature":19.57},"TempUnit":"C"}
2025-06-04T10:07:19.915487+02:00 heatfan2 ESP-MQT: domoticz/in = {"idx":3151,"nvalue":0,"svalue":"19.6","Battery":100,"RSSI":5}
2025-06-04T10:07:19.915487+02:00 heatfan2 ESP-MQT: domoticz/in = {"idx":3152,"nvalue":0,"svalue":"0","Battery":100,"RSSI":5}
2025-06-04T10:07:33.469688+02:00 shp6 ESP-MQT: tele/shp6/STATE = {"Time":"2025-06-04T10:07:32","Uptime":"35T23:33:42","UptimeSec":3108822,"Heap":26,"SleepMode":"Dynamic","Sleep":50,"LoadAvg":19,"MqttCount":3,"POWER":"ON","Wifi":{"AP":2,"SSId":"indebuurt_IoT","BSSId":"74:83:C2:2A:F1:AC","Channel":1,"Mode":"11n","RSSI":42,"Signal":-79,"LinkCount":2,"Downtime":"0T00:20:52"}}
2025-06-04T10:07:33.469688+02:00 shp6 ESP-MQT: domoticz/in = {"idx":301,"nvalue":0,"svalue":"227.9","Battery":100,"RSSI":4}
2025-06-04T10:07:33.470700+02:00 shp6 ESP-MQT: domoticz/in = {"idx":302,"nvalue":0,"svalue":"0.084","Battery":100,"RSSI":4}
```

While I do like the ISO 8601 format better, what you used is quite different from what's recommend by RFC1364:
> The TIMESTAMP field is the local time and is in the format of "Mmm dd hh:mm:ss"

In fact the newer RFC5424 enforces the use of ISO8601 hence the current Tasmota implementation:

```
The TIMESTAMP field is a formalized timestamp derived from [RFC3339](https://www.rfc-editor.org/rfc/rfc3339).

Whereas [RFC3339](https://www.rfc-editor.org/rfc/rfc3339) makes allowances for multiple syntaxes, this
document imposes further restrictions.
```

Hi team - thanks for addressing this issue. I notice the new RCF5424 log format has a bug: specifically this is the report I get when testing with my log collector (Grafana Alloy):

err="expecting a structured data section containing one or more elements (`[id( key=\"value\")*]+`) or a nil value [col 76]"

The log line appears to be missing a NILVALUE (a hyphen) for structured data which is a required part of the format. For example, a current (release 15.0.1) log line:
<134>1 2025-08-06T23:44:45.726000+01:00 sonoff-smart-plug1-2558 tasmota - - MQT: stat/sonoff-smart-plug1/RESULT = {"LogHost":"192.168.1.251"}

correction:
<134>1 2025-08-06T23:44:45.726000+01:00 sonoff-smart-plug1-2558 tasmota - - - MQT: stat/sonoff-smart-plug1/RESULT = {"LogHost":"192.168.1.251"}

If i send this corrected version as a UDP packet to my log server, it works fine: from Grafana Alloy log:
entry="MQT: stat/sonoff-smart-plug1/RESULT = {\"LogHost\":\"192.168.1.251\"}" entry_timestamp=2025-08-06T23:13:28.281Z labels="{appname=\"tasmota\", facility=\"local0\", host=\"127.0.0.1\", hostname=\"sonoff-smart-plug1-2558\", job=\"syslog_rfc5424\", severity=\"informational\", source=\"127.0.0.1\"}" structured_metadata={}

Trivial bug fix in the syslog code :)
HTH

Stu

From my code:
```
      /* RFC5424 - Syslog protocol - <PRI>VERSION TIMESTAMP HOSTNAME APP_NAME PROCID STRUCTURED-DATA MSGID MSG
         <PRI>[5] = Facility 16 (= local use 0), Severity 6 (= informational) => 16 * 8 + 6 = <134>
         VERSION[2] = 1
         TIMESTAMP = yyyy-mm-ddThh:mm:ss.nnnnnn-hh:mm (= local with timezone)
         HOSTNAME[255] = wemos5
         APP_NAME[48] = tasmota
         PROCID[128] = -
         STRUCTURED-DATA = -
         MSGID[32] = HTP:
         SYSLOG-MSG = <134>1 1970-01-01T00:00:02.096000+01:00 wemos5 tasmota - - HTP: Web server active on wemos5 with IP address 192.168.2.172
         Result = 1970-01-01T00:00:02.096000+00:00 wemos5 tasmota HTP: Web server active on wemos5 with IP address 192.168.2.172
         Notice date and time is provided by Tasmota device.

         Example of rsyslog filter using rsyslog properties:
         :programname, isequal, "tasmota" /var/log/udp-logs/esp.log  # Log in esp.log
         :programname, isequal, "tasmota" stop                       # Do not log in syslog
      */
```
In the above situation, using your original log line, STRUCRURED_DATA is a `hyphen`, the MSGID[32] is `MQT:` and the log entry is `stat/sonoff-smart-plug1/RESULT = {"LogHost":"192.168.1.251"}`.

It would be nice to know if your Grafana Alloy ahndles standard Linux logs correctly....

EDIT1: I think I misinterpreted the syslog message in regards to the position of STRUCTURED_DATA. Re-reading the RFC5424 and looking at your issue I think the correct field order is:
```
      /* RFC5424 - Syslog protocol - <PRI>VERSION TIMESTAMP HOSTNAME APP_NAME PROCID MSGID STRUCTURED-DATA MSG
         <PRI>[5] = Facility 16 (= local use 0), Severity 6 (= informational) => 16 * 8 + 6 = <134>
         VERSION[2] = 1
         TIMESTAMP = yyyy-mm-ddThh:mm:ss.nnnnnn-hh:mm (= local with timezone)
         HOSTNAME[255] = wemos5
         APP_NAME[48] = tasmota
         PROCID[128] = -
         MSGID[32] = HTP:
         STRUCTURED-DATA = -
         MSG = Web server active on wemos5 with IP address 192.168.2.172
```
As can be seen the MSGID has t be provided before STRUCTURED-DATA.

I'll see how to fix this in a slittle code as possible....

EDIT2: I see a simple repositioning of MSGID will solve the issue. Working on it.

EDIT3: Repositioning fails on Linux. So I just go for your solution ignoring the MSGID altogether. Working on it.



Give it a try and let me know.

Thanks Theo - Your proposed re-ordering seems to resolve the issue for my syslog application i.e. Grafana Alloy. Also replacing the MSGID string 'HTP:' with '-' works too as expected. Both these log lines seem fine for me:

<134>1 1970-01-01T00:00:02.096000+01:00 wemos5 tasmota - HTP: - Web server active on wemos5 with IP address 192.168.2.172
<134>1 1970-01-01T00:00:02.096000+01:00 wemos5 tasmota - - - Web server active on wemos5 with IP address 192.168.2.172

Also checked with Promtail (forerunner to Alloy) and seems fine there too.

Cheers!
